<!DOCTYPE html>
<html>
	<head>
		<%- include("../partials/bootstrap.ejs"); %>
	</head>
	<body>
		<%- include("../partials/header.ejs"); %>
		<div style="text-align: center; margin-top: 10%">
			<h1>Your session has expired.</h1>
			<h4>Please login in to continue using the application.</h3>
		</div>
	</body>