<!DOCTYPE html>
<html>
	<head>
		<%- include("../partials/bootstrap.ejs"); %>
	</head>
	<body>
		<%- include("../partials/header.ejs"); %>
		<br>
		<label for="username">Username: </label>
		<input type="text" id="username">
		<br>
		<label for="password">Password: </label>
		<input type="password" id="password">
		<br>
		<button type="button" onclick="login()">Login</button>
	</body>
	<script src="/js/login.js"></script>
</html>